@using Phun.Extensions
@{
    ViewBag.Title = "PhunCMS Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about Phun CMS visit
                <a href="https://github.com/noogen/phuncms" title="Phun CMS git repository">https://github.com/noogen/phuncms</a>.
            </p>
        </div>
    </section>
}
<h3 data-cmscontent="ContentTitle"></h3>
<ol class="round">
    @Html.PhunRenderPartialForInlineEdit("li", "ItemOne", new { @class = "one"})
    @Html.PhunRenderPartialForInlineEdit("li", "ItemTwo", new { @class = "two"})
    @Html.PhunRenderPartialForInlineEdit("li", "ItemThree", new { @class = "three"})
</ol>
@section scripts
{
    @Html.PhunRenderBundles()
}
